.about {
  padding: 0 30px;
}

.about__title {
  margin-top: 35px;
}

.about__item {
  padding-top: 33px;
}

.about__item p {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  margin: 20px 0 0;
  padding-right: 10px;
}

@media @tablet-widths {
  .about {
    padding: 0;
    margin-top: 65px;

    &__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
    &__item{
      width: 32%;
      margin-right: 119px;
    }
  }
}
