.catalog {
  padding: 0 30px;
}

.catalog__item {
  border: 1px solid #ececec;
  margin-bottom: 30px;
}

.item-content__title {
  padding-bottom: 15px;
}

.item-content {
  padding: 20px 30px;

  & p {
    margin: 0;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
    font-size: 13px;
  }
}

.catalog-item-footer {
  padding-top: 27px;
}

.catalog-item-footer__cost{
  font-size: 15px;S
  width: 90px;
  display:inline-block;
  word-wrap:break-word;
}
.catalog-item-footer__basket{
  width: 102px;
  display: inline-block;
  height: 21px;
  background: url("../img/icon-cart.svg") no-repeat;
  background-position: right;
  text-align: right;
}
