.contacts__title {
  padding: 0 30px;
  font-size: 18px;
}

.contacts__list {
  padding: 0 30px;
  color: @p-color;
  font-size: 15px;
  line-height: 30px;
}

.contact__write-us {
  text-transform: uppercase;
  display: block;
  margin: 0 30px;
  text-align: center;
  padding: 14px 0;
  border: 2px solid @p-color;
  color: @p-color;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.map {
  padding-bottom: 38px;
}
