.contacts__wrapper {
  width: 260px;
  margin: 0 auto;
  font-size: 18px;
}

.contacts {
  padding-top: 35px;
  margin-bottom: 39px;

  &__title {
    font-size: 18px;
  }

  &__list {
    padding-top: 23px;
    color: @p-color;
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 10px;

    & tr {
      display: block;
      margin-bottom: 22px;
    }
  }

  &__write-us {
    .btn();
    width: 260px;
    margin: 0 auto;
  }

  &__write-us:hover {
    background-color: @p-color;
    color: #ffffff;
  }

  &__write-us:active {
    color: @color-text-hover;
  }

  &__field {
    padding-right: 20px;
  }
}

.contacts__value--condition {
  border-bottom: 1px solid @border-hover;
}

.contacts__value--condition:hover{
  color: #86d3c6;
  border-color: #46c1ae;
}

.contacts__value--condition:active{
  color: #d3ede8;
  border-color: #ecf9f7;
}

//tablet

@media @tablet-widths {
  .contacts {
    padding-bottom: 18px;
    padding-top: 85px;
    width: 100%;

    &__wrapper {
      width: 668px;
      margin: 0 auto;
    }

    &__title {
      position: relative;
      padding: 0;
      font-size: 43px;
      line-height: 50px;
    }

    &__value {
      width: 230px;
      &--condition {
        width: 207px;
      }
    }

    &__write-us {
      width: 228px;
      margin: 51px auto 0;
    }

    &__field {
      padding-right: 20px;
    }

    &__list {
      font-size: 17px;
      line-height: 30px;
      margin-top: 49px;
      display: block;
      padding: 0;

      & tbody {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
      }

      & tr {
        display: flex;
        width: 50%;
      }
    }
  }

  .contacts__title::before {
    content: "";
    right: 0;
    bottom: -17px;
    width: 50px;
    height: 81px;
    background: url("../img/icon-flag.svg") no-repeat;
    position: absolute;
  }
}
//desktop
@media @desktop-widths {
  .contacts {
    width: 875px;
    margin: 26px auto 86px;
    padding-left: 175px;
    padding-top: 10px;

    &__wrapper {
      float: left;
      width: 40%;
      height: 300px;
    }

    &__write-us {
      width: 346px;
    }

    &__list {
      width: 350px;
      margin-top: 42px;

      & tbody {
        display: flex;
        flex-direction: column;
      }

      & tr {
        padding-top: 6px;
        width: 100%;
      }
    }
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 69px;
  }

  .contacts__title::before {
    left: -112px;
    top: 62px;
  }

  .contacts__write-us {
    float: left;
    width: 26%;
    margin-top: 103px;
  }
}
