.filter-color{
  width: 260px;
  margin: 0 auto;
}
.filter-color__title {
  color: @mint-color;
}

.filter-color__title::after {
  .green-line();
}

.filter-type-checkbox{
  display: none;
}

.filter-color__list{
  padding-top: 2px;
}

.filter-color__item {
  width: 190px;
  padding-left: 64px;
  margin-top: 23px;
  position: relative;
  margin-bottom: 42px;
  & label{
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    cursor: pointer;
  }
}

.filter-color__item input[type="checkbox"] + label::before{
  position: absolute;
  content: "";
  left: 0px;
  top: -10px;
  width: 38px;
  height: 35px;
  border: 2px solid @p-color;
}

.filter-color__item input[type="checkbox"]:checked + label::after{
  position: absolute;
  content: "";
  left: 5px;
  top: -4px;
  width: 33px;
  height: 23px;
  background: url("../img/icon-tick.svg")
}

//tablet

@media @tablet-widths {
  .filter-color{
    width: 100%;
    padding: 0;
    background-color: @bg-footer;
    &__wrapper{
      padding-top: 39px;
      width: 668px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    &__header{
      width: 25%;
    }

    &__list{
      width: 75%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    &__item{
      padding-left: 80px;
      font-size: 19px;
      line-height: 18px;
      margin-bottom:35px;
      width: 50%;
      & label{
        font-size: 19px;
        line-height: 18px;
      }
    }
  }
  .filter-color__title::after{
    display: none;
  }
  .filter-color__item input[type="checkbox"] + label::before{
    width: 50px;
    height: 48px;
    top: -14px;
  }
  .filter-color__item input[type="checkbox"]:checked + label::after{
    left: 11px;
    top: 2px;
  }
}

//desktop

@media @desktop-widths {
  .filter-color{
    &__wrapper{
    width: 1050px;
  }
    &__header{
      width: 17%;
    }
    &__item{
      width: 33%;
    }
  }
}
