.filter-type__header {
  padding: 25px 0;
  position: relative;
  text-transform: uppercase;
}
.filter-type__title{
  color: @mint-color;

}
.filter-type__title::after {
  .green-line();
  top: 35px;
}

.filter-type-radio {
  display: none;
}
.filter-type__item{
  position: relative;
}
.filter-type__text{
  color:#000;
  font-weight: bold;
}
