.main-header {
  background-color: @bg-footer;
  margin-bottom: 30px;

  &__title {
    text-align: center;
    padding: 70px 0 76px;
  }
}
@media @tablet-widths {
  .main-header {
    position: relative;
    margin-bottom: 85px;

    &__title {
      padding-top: 94px;
      &::after{
        content: "";
        right: 0px;
        bottom: 0px;
        width: 100%;
        height: 10px;
        position: absolute;
        background: url("../img/bg-zigzag-fill.svg") no-repeat;
        background-size: 100% auto;
      }

      & h1 {
        font-size: 43px;
        line-height: 50px;
      }
    }
  }
}
//desktop
@media @desktop-widths {
  .main-header {
    &__title {
      margin-bottom: 0;
      padding-bottom: 100px;
      &::after{
        height: 23px;
      }
      & h1 {
        font-size: 53px;
        line-height: 57px;
      }
    }
  }
}
