.order-form {
  .container();
  width: 260px;
  padding: 0 30px;
  font-size: 17px;
  line-height: 18px;
}

.order-form__description {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}
.button-order-form {
  .btn();
  background: #fff;
}

//tablet

@media @tablet-widths {
  .order-form__title {
    padding: 70px 0;
    background-color: @bg-footer;
    & h1{
      font-size: 53px;
      line-height: 57px;
    }
  }
  .order-form{
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-bottom: 40px;
  }
  .order-form__description{
    width: 668px;
    margin: 0 auto;
    padding: 50px 0;
    font-size: 17px;
    line-height: 30px;
    color: @p-color;
  }
  .button-order-form{
    width: 30%;
  }
  .order-form__must-field{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 41%;
  }
}

//desktop

@media @desktop-widths {
  .order-form__must-field{
    width: 36%;
  }
  .order-form__description{
    width: 700px;
    line-height: 30px;
  }
}
