.order-form{
  padding: 0 30px;
  font-size: 17px;
  line-height: 18px;
}
.order-form__description {
  font-size:13px;
  line-height: 24px;
  margin: 0;
}
.order-form__description--li{
  content: "";
  width: 200px;
  height: 1px;
  position: absolute;
  background-color: @mint-color;

}
