.order-form-header{
  background-color: @bg-footer;
  margin-bottom: 22px;
  &__title{
    text-align: center;
    padding: 70px 0 76px 0;
  }
}

.order-form__description {
  width: 260px;
  margin: 0 auto;
  font-size: 13px;
  line-height: 24px;
}
.button-order-form {
  .btn();
  background: #fff;
  font-size: 17px;
  line-height: 16px;
  padding: 16px 0;

}

.order-form__must-field {
  font-size: 14px;
  line-height: 16px;
  color: @form-text-color;
  margin-bottom: 33px;
}


//tablet

@media @tablet-widths {
  .order-form-header__title {
    padding-top: 92px;
    padding-bottom: 83px;
    background-color: @bg-footer;
    & h1{
      font-size: 43px;
      line-height: 50px;
    }
  }
  .order-form{
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-bottom: 40px;
  }
  .order-form__description{
    width: 668px;
    margin: 0 auto;
    padding: 50px 0;
    font-size: 17px;
    line-height: 30px;
    color: @p-color;
  }
  .button-order-form{
    width: 30%;
  }
  .order-form__must-field{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 41%;
  }
}

//desktop

@media @desktop-widths {
  .order-form__must-field{
    width: 36%;
  }
  .order-form__description{
    width: 700px;
    line-height: 30px;
  }
}
