.page-footer {
  width: 100%;
  background-color: @bg-footer;

  &-wrapper {
    .container();
    margin-top: 30px;
  }

  &__logo {
    display: none;
  }
}

.page-footer__social {
  padding-bottom: 26px;
  padding-top: 24px;
  margin-left: 30px;
  margin-right: 30px;
  border-bottom: 1px solid @mint-color;
}

.social-links a {
  margin-right: 33px;
}

.social-links__instagram {
  margin-left: 58px;
  width: 25px;
  height: 21px;
  display: inline-block;
  vertical-align: top;
}
.page-footer__logo:hover{
  fill: @color-icon-hover;
}

.page-footer__logo:active{
  fill: @color-icon-active;
}

.social__icon-insta:hover{
    fill: @color-icon-hover;
}

.social__icon-insta:active{
    fill: @color-icon-active;
}

.social-links__fb {
  width: 15px;
  height: 28px;
  display: inline-block;
  vertical-align: top;
}
.social__icon-fb:hover{
    fill: @color-icon-hover;
}
.social__icon-fb:active{
  fill: @color-icon-active;
}

.social-links__twitter {
  width: 23px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
}
.social__icon-twitter:hover {
    fill: @color-icon-hover;
}

.social__icon-twitter:active {
    fill: @color-icon-active;
}

.page-footer__copyright {
  position: relative;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 67px;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;

  & a {
    position: absolute;
    right: 68px;
    top: 28px;
    width: 28px;
    height: 34px;
    display: inline-block;
    vertical-align: top;
    margin-left: 19px;
    margin-bottom: -9px;
  }
}
.page-footer__logo-htmlacademy{
  position: absolute;
  bottom: 0;
  fill: @color-icon-hover;
  &:hover{
    fill: @color-icon-hover;
  }
  &:active{
    fill: @color-icon-active;
  }
}
//планшет
@media @tablet-widths {
  .page-footer {
    width: 100%;

    &-wrapper {
      width: 668px;
      padding-top: 60px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
      display: flex;
      justify-content: space-between;
    }

    &__social {
      padding: 0;
      margin: 0;
      padding-left: 55px;
      border: none;
    }

    &__copyright {
      padding: 0;
      margin: 0;

      & a{
        position: static;
      }
    }

    &__logo {
      margin-top: -5px;
      display: block;
    }
  }
}
//пк
@media @desktop-widths {
  .page-footer {
    width: 100%;

    &-wrapper {
      width: 1050px;
      margin: 0 auto;
    }
  }
}
