.reviews {
  margin: 0 auto;
  width: 260px;
  margin-top: 28px;
  margin-bottom: 44px;
}

.reviews__title {
  margin-bottom: 24px;
}

.reviews__item {
  color: @p-color;
  margin-bottom: 36px;

  & p {
    font-size: 15px;
    line-height: 30px;
  }
}

.reviews__name-author {
  display: block;
  margin: 9px 0;
  padding-top: 11px;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: bold;
}

.control {
  margin-bottom: 38px;
}

.reviews__prev {
  padding: 0;
  background: url("../img/icon-left-arrow.svg") no-repeat 50% 50%;
  border: 1px solid @border-color;
  background-color: #fff;
  width: 130px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
}

.reviews__next {
  padding: 0;
  background: url("../img/icon-right-arrow.svg") no-repeat 50% 50%;
  border: 1px solid @border-color;
  background-color: #fff;
  width: 130px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
  margin-left: -5px;
}


.reviews__write-reviws {
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 14px 0;
  border: 2px solid @p-color;
  color: @p-color;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

//планшет

@media @tablet-widths {
  .reviews{
    width: 100%;
    margin-top: 50px;
    background: url("../img/review@1x.jpg") no-repeat ;
    &-wrapper{
      margin: 0 auto;
      width: 668px;
      padding: 76px 0px 0px 0px;
      position: relative;
    }

    &__title{
      font-size: 43px;
      line-height: 50px;
      margin-bottom: 50px;
    }
    &__write-reviws{
      position: absolute;
      width: 171px;
      top: 79px;
      right: 0;
    }
    &__item{
      padding-bottom: 55px;
      margin: 0;
      & p{
        font-size: 17px;
        margin-bottom: 45px;
      }
    }
    &__name-author{
      margin: 4px 0;
      font-size: 17px;
    }
    &__email-autor{
      font-size:17px;
      line-height: 30px;
    }
  }
  .reviews__prev,
  .reviews__next{
    border: none;
    width: 85px;
  }
  .control{
    position: absolute;
    bottom: 20px;
    right: 3px;
  }
}

@media @desktop-widths {
  .reviews{
    margin: 0 auto;
    margin-top: 55px;
    width: 1050px;
    &-wrapper{
      width:875px;
      padding-left: 175px;
      padding-top: 70px;
    }
    &__title{
      font-size: 53px;
      line-height: 57px;
    }
    &__item{
      padding-bottom: 95px;
      & p{
      width:785px;
      margin-bottom: 27px;
      }
    }
  }

  .control {
    bottom: 61px;
    right: -2px;
  }

  .reviews__prev,
  .reviews__next{
    border: none;
    width: 90px;
  }
}
