.reviews {
  position: relative;
  margin-top: 28px;
  padding-bottom: 52px;
  &-wrapper{
    margin: 0 auto;
    width: 260px;
  }
}


.reviews__title {
  margin-bottom: 24px;
}

.reviews__item {
  color: @p-color;
  margin-bottom: 36px;

  & p {
    font-size: 15px;
    line-height: 30px;
  }
}

.reviews__name-author {
  display: block;
  margin: 9px 0;
  padding-top: 11px;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: bold;
}

.control {
  margin-bottom: 38px;
}

.reviews__prev {
  padding: 0;
  background: url("../img/icon-left-arrow.svg") no-repeat 50% 50%;
  border: 1px solid @border-color;
  background-color: #fff;
  width: 130px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  &:hover{
    opacity: 0.5;
  }
  &:active{
    opacity: 0.2;
  }
}

.reviews__next {
  padding: 0;
  background: url("../img/icon-right-arrow.svg") no-repeat 50% 50%;
  border: 1px solid @border-color;
  background-color: #fff;
  width: 130px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin-left: -5px;
  &:hover{
    opacity: 0.5;
  }
  &:active{
    opacity: 0.2;
  }
}

.reviews__write-reviws {
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 14px 0;
  border: 2px solid @p-color;
  color: @p-color;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}
.reviews__write-reviws:hover {
  background-color: @p-color;
  color: #ffffff;
}
.reviews__write-reviws:active {
  color: @color-text-hover;
}

//планшет

@media @tablet-widths {
  .reviews {
    width: 100%;
    margin-top: 50px;


    &-wrapper {
      margin: 0 auto;
      width: 718px;
      padding: 76px 0 0 50px;
      position: relative;
      background: url("../img/review@1x.jpg") no-repeat;
      @media(min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: url("../img/review@2x.jpg") no-repeat;
        background-size: 350px auto;
      }
    }

    &__title {
      font-size: 43px;
      line-height: 50px;
      margin-bottom: 50px;
    }

    &__write-reviws {
      position: absolute;
      width: 171px;
      top: 79px;
      right: 49px;;
    }

    &__item {
      padding-bottom: 55px;
      margin: 0;

      & p {
        font-size: 17px;
        margin-bottom: 45px;
        width: 90%;
      }
    }

    &__name-author {
      margin: 4px 0;
      font-size: 17px;
    }

    &__email-autor {
      font-size: 17px;
      line-height: 30px;
    }
  }

  .reviews__next,
  .reviews__prev {
    border: none;
    width: 85px;
  }

  .control {
    position: absolute;
    bottom: 20px;
    right: 53px;
  }
}
@media @desktop-widths {
  .reviews {
    margin: 58px auto;
    width: 100%;

    &-wrapper {
      width: 875px;
      padding-left: 175px;
      padding-top: 70px;
      padding-bottom: 40px;
    }

    &__title {
      font-size: 53px;
      line-height: 57px;
    }

    &__item {
      padding-bottom: 95px;

      & p {
        width: 785px;
        margin-bottom: 27px;
      }
    }
    &__write-reviws{
      top: 79px;
      right: 0px;
    }
  }

  .control {
    bottom: 104px;
    right: -2px;
  }

  .reviews__next,
  .reviews__prev {
    border: none;
    width: 90px;
  }
}
