.user-info__header{
  padding: 25px 0;
  position: relative;
  text-transform: uppercase;
}
.user-info__title{
  color: @mint-color;
}
.user-info__title::after {
  .green-line();
  top: 35px;
}
.user-info-item-name{
  border-bottom:2px solid black;
  margin-bottom: 20px;
}
.user-info__input-title{
  display: block;
  padding-bottom: 10px;
  font-weight: bold;
}
.user-info__input-text{
  border: none;
  margin-bottom: 16px;
  color:@form-text-color;
}
