.video {
  margin: 0 30px;
  border: 1px solid #ececec;
}

.video-header {
  padding-top: 27px;
  padding-right: 27px;
  padding-bottom: 27px;
}

.video-header__camera {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  display: block;
  float: left;
  background: url("../img/icon-video.svg") 100% 0 no-repeat;
}

.video__comment {
  margin-left: 33px;
  margin-right: 33px;
  font-size: 13px;
  line-height: 24px;
}

.video-player {
  width: 100%;
  height: auto;
  background: url("../img/video-mobile@1x.jpg") 100% 0 no-repeat;
}

.video__make-order {
  margin: 30px 33px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 14px 0;
  border: 2px solid @p-color;
  color: @p-color;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}
