.video {
  margin: 0 30px;
  border: 1px solid #ececec;
}

.video-header {
  padding-top: 27px;
  padding-right: 27px;
  padding-bottom: 27px;
}

.video-header__camera {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  display: block;
  float: left;
  background: url("../img/icon-video.svg") 100% 0 no-repeat;
}

.video__comment {
  margin-left: 33px;
  margin-right: 33px;
  font-size: 13px;
  line-height: 24px;
}

.video-player {
  width: 100%;
  height: 100%;
  background: url("../img/video-mobile@1x.jpg") 100% 0 no-repeat;
}

.video__make-order {
  margin: 30px 33px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 14px 0;
  border: 2px solid @p-color;
  color: @p-color;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

//tablet

@media @tablet-widths {
  .video {
    width: 668px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .video-player {
    order: -1;
    height: 455px;
    border-bottom: 1px solid @border-color;
    background-size: cover;
  }
  .video-header {
    margin-top: 30px;
    width: 100%;
    padding: 0 40px;
    & h3{
      font-size:20px;
      line-height: 24 px;
      font-weight: bold;
    }
  }
  .video__comment{
    font-size: 15px;
    line-height: 30px;
    color: @p-color
  }
  .video__make-order{
    width:100%;
    margin:  40px 40px;
  }
}
@media @desktop-widths {
  .video{
    display: block;
    width: 1048px;
    margin-bottom:105px;
    &-player{
      width: 65%;
      float: left;
    }
    &-header{
      float: right;
      box-sizing: border-box;
      width: 35%;
    }
    &__comment{
      margin: 0;
      box-sizing: border-box;
      float: right;
      width: 35%;
      padding: 0 40px;
    }
    &__make-order{
      margin-top: 60px;
      width: 27%;
      float: right;
      box-sizing: border-box;
      padding: 16px 45px;
    }
  }
}
